html, body, #root {
  height: 100vh;
  font-family: 'Lato';
  letter-spacing: 1;
  font-size: 20px;
}

#app {
  text-align: center;
  width: 100vw;
  height: 100%;
}

i {
  font-size: 75%;
}

input[type=range] {
  cursor: grab;
}

strong {
  display: inline-block;
  padding: 0px 10px;
  box-sizing: border-box;
}

.nav {
  height: 5%;
  min-height: 43px;
  width: 100%;
  vertical-align: center;
  text-align: left;
  background-color: #3498DB;
  color: white;
  padding: 0 3px;
}

.nav-item {
  display: inline-block;
  padding: 0px 10px;
  box-sizing: border-box;
}

.nav-item.nav-button {
  font-family: 'Lato';
  font-size: 100%;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  vertical-align: top;
  float: right;
  height: 100%;
}

.nav-item.nav-button:focus {
  outline: none;
}

.nav-item.nav-button:active {
  transform: scale(0.97);
}

.nav-item.nav-button:hover {
  background-color: #2980B9;
}

.nav-item.nav-button:disabled {
  background-color: transparent;
}

label {
  position: relative;
}

input[type=range] {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 3px;
}

input:disabled {
  cursor: not-allowed;
}

.array {
  height: 90%;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0;
  position: relative;
}

.array-element {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  background-color: orange;
  border: 1px solid black;
  margin-left: -1px;
  overflow: hidden;
  font-size: 75%;
}